.input {
  width: 360px;
  height: 64px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2d3436;
  padding: 0 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input:focus {
  border-color: #5fcb39;
}

.imput::placeholder {
  color: #2d3436;
}

.input::-ms-input-placeholder {
  color: #2d3436;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
