header {
  width: 100%;
  max-width: 200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.header-logo {
  margin-left: 5px;
}

.header-text {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #374234;
}
